input {
  outline: none;
}

.CreateList {
  padding: 0 70px;
}

.CreateList .title {
  margin-top: 5px;
  padding: 13px 0px;
  text-align: center;
  font-size: 17px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.calcMenu {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.calcMenu > button {
  width: 270px;
  height: 40px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
}

.minusButton {
  background-color: rgb(251, 114, 114);
}

.plusButton {
  background-color: rgb(156, 240, 141);
}

.methodMenu {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.methodMenu > button {
  width: 170px;
  height: 40px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
}

.methodMenu .methodButton {
  background-color: #333;
  color: white;
}

.dateMenu {
  margin-top: 30px;
  font-size: 20px;
}

.dateMenu > input {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 5px;
}

.kategorieMenu {
  margin-top: 30px;
  font-size: 20px;
}

.kategorieMenu > p {
  margin: 0 0 5px 0;
}

.kategorieMenu-list {
  display: flex;
  gap: 20px;
}

.kategorieMenu-list > button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background: none;
  display: inline-block;
  font-size: 15px;
}

.kategorieMenu-list > button:hover {
  border: 1px solid lightgray;
}

.kategorieMenu-list > button:focus {
  border: 1px solid black;
}

.kategorieMenu-list > div > span {
  display: block;
}

.kategorieMenu-list .kategorieButton {
  border: 1px solid black;
}

.amountMenu {
  font-size: 20px;
  margin-top: 30px;
}

.amountMenu > input {
  padding-left: 5px;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.submitButton {
  margin-top: 30px;
  margin-left: 460px;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background: none;
  border-radius: 5px;
}
