.ItemList {
  padding: 5px 10px 5px 20px;
  margin-bottom: 7px;
  border-radius: 5px;
  display: flex;
  flex: 1;
  justify-content: space-between; /* 아이템 간 간격을 일정하게 유지 */
  align-items: center; /* 수직 중앙 정렬 */
}

.ItemList_minus {
  background-color: rgb(255, 155, 155);
}

.ItemList_plus {
  background-color: rgb(167, 192, 255);
}

.icon_section .iconName {
  font-size: 11px;
}

.calc_section {
  margin-left: 30px;
  font-size: 15px;
  cursor: pointer;
}

.button_section > button {
  border: none;
  margin-left: 5px;
  background: none;
}

.button_section > button:hover {
  color: #eee;
}
